# dotnet
**/bin/
**/obj/
*.user
*.userosscache
*.sln.docstates

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Node
**/node_modules/
**/dist/
.env
.env*.local

# IDEs
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/
